/* Feuille de style edit.jsp */

BODY{
    margin-top:65px;
}

/* Gestion des panels */

#panelDroite, #panelGauche{
    position:fixed;
    background-color:#449d44;
    color:#fff;
    min-height:100%;
    padding:10px;
    top:51px;
    width:20%;
    z-index:10;
}

#panelGauche{
    left:-20%;
}

#panelDroite{
    right:-20%;
}


#ancrePanelGauche, #ancrePanelDroite{
    position:fixed;
    padding:25px;
    font-size:x-large;
    background-color:#449d44;
    color:#fff;
    cursor:pointer;
    top: 43vh;
    z-index:10;
}

#ancrePanelDroite{
    border-radius: 200px 10px 10px 200px;
    margin-right:-10px;
    right:0;
}

#ancrePanelGauche{
    border-radius: 10px 200px 200px 10px;
    margin-left:-10px;
    left:0;
}

#chevronAncreDroite, #chevronAncreGauche{
    line-height:80px;
}

#editeurJava{
    margin-top:10px;
    margin-bottom:10px;
}

#secondeBarre{
    margin-top:5px;
}

#messageCommit{
    width:60%;
}

#envoyerCommit{
    margin-left:20px;
}



