/* Feuille de style home.jsp */

BODY{
    margin-top:65px;
}

.h2DivProjet{
    display:inline;
    vertical-align:top;
    margin-right:10px;
}

.titreSection{
    margin-bottom:10px;
}

#panelDeroulant{
    position:fixed;
    background-color:#449d44;
    color:#fff;
    min-height:100%;
    padding:10px;
    top:51px;
    width:20%;
    right:-20%;
    z-index:10;
}

#ancrePanel{
    position:fixed;
    padding:25px;
    border-radius: 200px 10px 10px 200px;
    margin-right:-10px;
    font-size:x-large;
    background-color:#449d44;
    color:#fff;
    top: 43vh;
    right:0;
    cursor:pointer;
    z-index:10;
}

#chevronAncre{
    line-height:80px;
}